@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

body,
html {
  padding: 0;
  margin: 0;
  font-family: 'roboto';
}

#root {
  height: 100vh;
  width: 100vw;
  overflow-y: none;
}


.ce-delimiter{
  border-top: 2px solid #c2c2c2;
  margin: 10px 0;
}

.ce-delimiter::before{
  display: block;
  content: "";
  line-height: 10px;
  height: 1px;
  letter-spacing: 0.0;
}

#editorjs{ width: 100%;}