@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

body,
html {
  padding: 0;
  margin: 0;
  font-family: 'roboto';
}

#root {
  height: 100vh;
  width: 100vw;
}
